# Requirements file for CPU usage and initial debugging

# PyTorch and torchvision for GPU (CUDA 11.0)
# Install using: pip install torch==1.7.0+cu110 torchvision==0.8.1+cu110 -f https://download.pytorch.org/whl/torch_stable.html
# For CPU-only fallback, run requirementt-gpu.txt instead

torch==1.7.0
torchvision==0.8.1
tensorflow==2.8.0

opencv-python==4.5.4.58
opencv-contrib-python==4.5.4.58
natsort==7.1.1
numpy==1.21.6
scipy==1.7.3
matplotlib==3.5.3
scikit-learn==1.0.2
scikit-image==0.19.2

tensorflow-io-gcs-filesystem==0.24.0
tensorflow-io==0.24.0
tensorflow-addons==0.16.1
tqdm==4.62.3
wandb==0.12.11